.aside-menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #918f9e;
  color: white;
  font-weight: bold;

  .aside-menu__close {
    vertical-align: middle;
    &:hover {
      color: #c4c3c3;
    }
  }
}

.aside-menu__search {
  margin-top: 2em;
  outline: none;
  resize: none;
  background: #918f9e;
  color: white;
  width: 80%;

  &::placeholder {
    color: #d7d7d7;
  }
}

.aside-menu__renderedSettings {
  border: 2px solid #918f9e;
  width: 80%;
  margin: 0 auto;
  padding: 5%;
  p {
    color: white;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #918f9e;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #7eff33;
      cursor: pointer;
    }
    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #7eff33;
      cursor: pointer;
    }
  }
}
