
.aside-menu__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    border-bottom: 1px solid #918f9e;
    color: white;
    font-weight: bold;

    .aside-menu__close {
        vertical-align: middle;
        &:hover {
            color: #C4C3C3;
        }
    }
}

.aside-menu__search {
    margin-top : 2em;
    outline: none;
    resize: none;
    background: #918f9e;
    color: white;
    width: 80%;

    &::placeholder {
        color: #D7D7D7;
    }
}

