@import "./base/mixins";

.first-floor {
  display: grid;
  height: 100%;
  /*grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);*/
  background: url("/img/first-floor.png") no-repeat;
  background-size: 100% 100%;

  .grid-cell {
    border: 0.2px solid #e3e3e3;
  }
}
