@import "./base/mixins";

.first-floor {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  /*border: 2px double black;*/
  background: url("/dist/img/first-floor.png") no-repeat;
  background-size: 100% 100%;

  .first-floor__work-room1 {
    padding: 22% 12%;
    grid-row: 4 / span 3;
    grid-column: 2 / span 1;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(3, 1fr);
    /*grid-auto-rows: 1fr;*/
    .first-floor__employee {
      border: 1px double black;
      cursor: pointer;
      border-radius: 50%;
      min-width: 0;
      min-height: 0;
      text-align: center;
      /*height: 0;
      width: 50%;
      padding-bottom: 50%;*/

      &:hover {
        border-color: red;
      }
      .employee_circle {
        font-size: 0.5em;
      }
    }
  }
  .first-floor__work-room2 {
    padding: 5% 17% 5% 10%;
    grid-row: 1 / span 3;
    grid-column: 3 / span 4;
  }
}
