@import "./base/mixins";

.first-floor {
  display: grid;
  height: 100%;
  /*grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);*/
  background: url("/img/first-floor.png") no-repeat;
  background-size: 100% 100%;

  .grid-cell {
    border: 0.2px solid #e3e3e3;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
  }

  .grid-call--unactive {
    @extend .grid-cell;
    border: none;
    cursor: none;
  }

  .grid-cell--active {
    width: 50%;
    padding-top: 50%;
    margin: 0 auto;
    border: 1px solid green;
    position: relative;
    cursor: pointer;
    border-radius: 50%;

    .grid-cell__text {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      vertical-align: middle;
      overflow: hidden;
    }
  }
}

.modal__select {
  width: inherit;
  height: inherit;
}
