.home {
  height: 100vh;
  display: flex;
  flex-direction: row;

  .aside-menu {
    height: 100%;
    width: 50%;
    border-right: 1px solid black;
    background: #333238;
    text-align: center;
    z-index: 1;
    overflow-x: hidden;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;

    @media (min-width: 1024px) {
      width: 20%;
    }
  }

  .aside-menu--untoggled {
    /*display: none;*/
    @extend .aside-menu;
    border: none;
    width: 0%;
  }
}
