.main-grid {
  height: 100%;
  width: 50%;
  flex: 1;

  @media (max-width: 767px) {
    overflow-y: hidden;
  }

  .main-grid-buttons {
    position: fixed;
    top: 1em;
    right: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    z-index: 1;

    .main-grid__primary {
      margin-left: 0.5em;
    }
  }

  .main-grid-grid {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
      display: table;
      height: 100%;
    }

    .main-grid-wrapper {
      vertical-align: middle;
      padding-top: 60%;
      width: 100%;
      position: relative;

      @media (max-width: 600px) {
        vertical-align: middle;
        margin-top: 5em;
        width: 200vw;
      }
      @media (min-width: 1900px) {
        margin-top: 5em;
      }
    }
  }

  @media (min-width: 1024px) {
    width: 80%;
  }
}

.main-grid--untoggled {
  @extend .main-grid;
  width: 100%;
}

.home__menu-button--active {
  display: inline-block;
  visibility: visible;
  background: #333238;
  color: white;
  padding: 0.2em;
  border-radius: 5px;
  text-align: left;
  position: fixed;
  z-index: 1;
}

.home__menu-button--hidden {
  @extend .home__menu-button--active;
  visibility: hidden;
}

.main-grid__title {
  text-align: center;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}
