@import "./components/homePage";
@import "./components/asideMenu";
@import "./components/mainGrid";
@import "./components/firstFloor";
@import "./components/secondFloor";
@import "./components/employee";
@import "./components/modal";
@import "./components/employeeModal";
/*
main scss file that combines all other files and compiles to css
*/

body {
  margin: 0;
  padding: 0;
}
